/* fonts */
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
/* colours */
/*
* Options
*/
.card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.card__option {
  text-align: center;
  padding-top: 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FFFAF0;
  color: #505050;
  padding: 2em;
  cursor: pointer;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

.card__option-selected {
  background-color: #9BD7D5;
  color: #FFFAF0;
  padding: 0; }

.card__option:hover {
  background-color: #89d0cd; }

.card__option-title {
  font-family: 'Cookie', cursive;
  font-size: 4.3rem; }

.card__text-text {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }

.card__option-sm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 90rem;
  margin: auto; }

.card__option-container--sm {
  cursor: pointer;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #FFFAF0; }

.card__option-container--sm.is-active {
  background-color: #9BD7D5;
  color: #FFFAF0; }

.card__option-title--sm {
  font-family: 'Cookie', cursive;
  font-size: 3em; }

.card__icon--sm {
  width: 5em;
  margin: auto; }

/*
*	Card Details
*/
.card__note {
  text-align: center; }

.card__details-desc {
  text-align: center;
  padding-bottom: 3em; }

.card__details-input-label {
  text-align: center;
  padding-bottom: .5em; }

.card__details-input {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
