@import "../../../utilities/global.scss";

/*
* WHO
*/

.card__who-text {
	text-align:center;
	padding-bottom: 3em;
	padding-top:1em;
}

.card__who-options {
	padding-bottom:3em;
}

.card__who-option {
	cursor:pointer;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

.card__who-options-selected {
	@include box-shadow(2);
}

.card__who-options-selected .card__who-option {
	padding: 1em;
}

.card__who-options-selected .card__who-option-selected {
	padding: 1em;
	background-color:$blue;
	color:$white;
	text-align: center;
}

.card__who-option:hover {
	background-color: darken($white, 1%);
}

.card__who-option:nth-child(1){
	border-right: 1px solid $light-grey;
}

/*
* Why
*/
.card__why-options {
	padding-bottom:2em;
}

.card__why-option {
	text-align:center;
	padding-top:2em;
}

.card__why-option-container {
	@include box-shadow(2);
	background-color:$blue;
	color:$white;
	padding:2em;
	cursor:pointer;
}

.card__why-option-selected {
	@include box-shadow(0);
	background-color:$blue;
	color:$white;
	padding: 0;
}

.card__why-icon {
	height:12em;
}


.card__why-option-container:hover {
	background-color: darken($blue, 5%);
}

.card__why-option-title {

}

.card__why-text {
	text-align:center;
	padding-top:1em;
}

.card__why-icon {
}

// sm

.card__why-sm {
	@include box-shadow(2);
}

.card__why-option-container--sm {
	cursor: pointer;
	text-align:center;
	padding-left: 0;
	padding-right: 0;
	padding-top:1em;
	padding-bottom:1em;
}

.card__why-option-container--sm.is-active {
	background-color:$blue;
	color:$white;
}

.card__why-icon--sm {
	max-height:5em;
}
