@import "../../../utilities/global.scss";


/*
* Options
*/
.card__options {
	display: flex;
	flex:1 1 auto;
}

.card__option {
	text-align:center;
	padding-top:2em;
	@include box-shadow(2);
	background-color:$white;
	color:$grey-text;
	padding:2em;
	cursor:pointer;

	margin: 1em;
	display: flex;
	flex: 1 100%;
	flex-flow: column nowrap;
}

.card__option-selected {
	@include box-shadow(0);
	background-color:$blue;
	color:$white;
	padding: 0;
}

.card__icon {

}

.card__option:hover {
	background-color: darken($blue, 5%);
}

.card__option-title {
	font-family: 'Cookie', cursive;
	font-size: 4.3rem;
}

.card__text-text {
	text-align:center;
	padding-top:1em;
	padding-bottom: 1em;
}

.card__icon {
}

// sm

.card__option-sm {
	@include box-shadow(2);
	max-width:$max-width;
	margin:auto;
}

.card__option-container--sm {
	cursor: pointer;
	text-align:center;
	padding-left: 0;
	padding-right: 0;
	padding-top:1em;
	padding-bottom:1em;
	background-color:$white;
}

.card__option-container--sm.is-active {
	background-color:$blue;
	color:$white;
}

.card__option-title--sm {
	font-family: 'Cookie', cursive;
	font-size: 3em;
}

.card__icon--sm {
	width: 5em;
	margin: auto;
}


/*
*	Card Details
*/
.card__note {
	text-align:center;
}

.card__details-desc {
	text-align:center;
	padding-bottom: 3em;
}

.card__details-input-label {
	text-align: center;
	padding-bottom: .5em;
}

.card__details-input {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
