@import "../../../utilities/global.scss";

.form {}
.form__title {
	text-align: center;
	font-size:1.5em;
}
.form__description {
	text-align: center;
	padding-bottom:1em;
	border-bottom:1px solid $light-grey;
}
