<section>
	<div ng-controller="HomeController">
		<div class="home">
			<div class=home__splash>
				<div class="home__splash-container container">
					<div class="home__splash-text-container">
						<div class="home__splash-text--title">
							Handwritten Cards
						</div>
						<div class="home__splash-text--tagline">
							Personalised, beautiful, and caring handwritten cards, made with love. Sent to whoever you'd like to see smile.
						</div>
						<div class="home__splash-send" ng-click="signup()">
							Send a card
						</div>
					</div>
				</div>
			</div>
			<div class=home__how>

			</div>
		</div>
	</div>
</section>
