@import "../../../utilities/global.scss";

html {
 font-family: 'Roboto', sans-serif;
 font-size:10px;
}

body {
	padding:0;
	margin:0;
	background: url(../img/background/background.jpeg) fixed;
	background-size: cover;
	color:$grey-text;
}

.row {
	margin-left:0px;
	margin-right:0px;
}


a {
	color:$peach;
	text-decoration:none;
}

a:hover {
	color:$blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
