@import "../../../utilities/global.scss";

.navbar {
	width:100%;
	display:table;
	background-color: $white;
	height: 5em;
	@include box-shadow(1);

	ul {
		display: table-cell;
		vertical-align: middle;
		padding:0;
		li {
			display:table-cell;
			text-decoration: none;
			padding:0;
			padding-left: 1em;
			padding-right: 1em;
			float:right;
		}
	}
}
.navbar__container {
	height: 5em;
	width: 80%;
	max-width: $max-width;
	display: table;
	margin: auto;
}


.navbar__brand {
	display:table-cell;
	vertical-align:middle;
	font-size:1.5em;
	width:33%;
	padding-left:1em;
}
