@import "../../../utilities/global.scss";

.navbar {
	padding-top:1em;

}
.navbar__links {
	list-style: none;
	line-height: 4em;
	font-size: 1.7rem;
}
.navbar__link {
	color:$white;
	padding-left: 3em;
	display: inline-block;
	cursor:pointer;
	font-family: 'EB Garamond', serif;
	text-transform:uppercase;
}

.navbar__brand {
	font-size:6rem;
	width:33%;
	padding-left:1em;
	font-family: 'Cookie', cursive;
	text-decoration:none;
	color:$white;
	text-align:center;
	cursor:pointer;
}
