<div class="container">
	<form>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="address.name" type="text" class="form-control" placeholder="">
			</div>
			<div class="col-sm-6">
				<input ng-model="address.line1" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="address.line2" type="text" class="form-control" placeholder="Text input">
			</div>
			<div class="col-sm-6">
				<input ng-model="address.state" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="address.city" type="text" class="form-control" placeholder="Text input">
			</div>
			<div class="col-sm-6">
				<input ng-model="address.zip" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<a ng-click="save()">Next </a>
		<a ui-sref="card">Back </a>
	</form>
</div>
