<div class="container">
	<form>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="foobar" type="text" class="form-control" placeholder="">
			</div>
			<div class="col-sm-6">
				<input ng-model="text2" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="text3" type="text" class="form-control" placeholder="Text input">
			</div>
			<div class="col-sm-6">
				<input ng-model="text4" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<a ng-click="next()" href="./address">Next </a>
	</form>
</div>
