<div class="container">
	<form>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="foobar.name" type="text" class="form-control" placeholder="">
			</div>
			<div class="col-sm-6">
				<input ng-model="foobar.line1" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="foobar.line2" type="text" class="form-control" placeholder="Text input">
			</div>
			<div class="col-sm-6">
				<input ng-model="foobar.state" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input ng-model="foobar.city" type="text" class="form-control" placeholder="Text input">
			</div>
			<div class="col-sm-6">
				<input ng-model="foobar.zip" type="text" class="form-control" placeholder="Text input">
			</div>
		</div>
		<div ng-click="submit()">Submit </div>
		<a href="{{backLink}}">Back </a>
	</form>
</div>
