<div class="container">
	<form name="paymentForm" action="" method="POST" id="payment-form">
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6 col-sm-offset-3 material">
				<div class="material__title">
					Payment
				</div>
				<div class="material__input-label">
					Name:
				</div>
				<input name="name" ng-required="true" ng-model="payment.name" type="text" class="material__input">
				<div class="material__input-label">
					Card Number:
				</div>
				<input type="text" ng-maxlength='19' ng-model="payment.number"  name="number" ng-required="true" class="material__input" size="20" data-stripe="number" ng-pattern="/^\d+$/">
				<div class="material__input-label">
					Expiration Date:
				</div>
				<input name="mm" type="text" ng-maxlength='2' ng-model="payment.mm" class="material__input size" ng-required="true" size="2" data-stripe="exp_month" placeholder='MM' ng-pattern="/^\d+$/"> /
				<input name="yy" type="text" ng-maxlength='2' ng-model="payment.yy" class="material__input size" ng-required="true" size="2" data-stripe="exp_year" placeholder='YY' ng-pattern="/^\d+$/">
				<div class="material__input-label">
					Security Code:
				</div>
				<input type="text" ng-maxlength='4' ng-model="payment.code" class="material__input size" ng-required="true" size="4" data-stripe="cvc" ng-pattern="/^\d+$/">
				<div class="material__input-error" ng-show="paymentForm.number.$dirty && paymentForm.number.$invalid">
					<div> Your card number should be a number </div>
				</div>
				<div class="material__input-error" ng-show="(paymentForm.mm.$dirty && paymentForm.mm.$invalid) || (paymentForm.yy.$dirty && paymentForm.yy.$invalid)  ">
					<div> Expiration date should be a number and must be in the format of MM/YY </div>
				</div>
				<div class="material__input-error" ng-show="paymentForm.code.$dirty && paymentForm.code.$invalid">
					<div> Your security code must be a number </div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6 material__no-padding">
			<div ng-click="back()" class="col-sm-4 material material--submit">
				<div class="material__submit">
					Back
				</div>
			</div>
			<div class="col-sm-4">
			</div>
			<div ng-show="paymentForm.$valid" ng-click="submit()" class="col-sm-4 material material--submit">
				<div class="material__submit">
					Send Card
				</div>
			</div>
		</div>
	</div>
</div>
