<div class="container">
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6 material">
			<div class="material__title">
				Thank you!
			</div>
			<div class="material__text">
				We hope that you or your friends, family, taxi driver, neighbor, strangers, enjoy our card, your generosity, and human kindness.
			</div>
			<div class="material__text">
				Feel free to contact us at our facebook page, or by email at <a href="mailto:friend@psfriend.com"> friend@psfriend.com </a>
			</div>
			<div class="material__text">
				We'd love to hear some feedback from you.  Preferably positive feedback.
			</div>
		</div>
	</div>
</div>
