<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8 material">
				<div class="material__title">
					Subscriptions
				</div>
			</div>
		</div>
		<div ng-repeat="sub in subs" class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8 material">
				<div class="settings__mysubs">
					<div class="row">
						<div class="col-sm-8">
							<div class="settings_sub">
								<div class="settings_sub-detail">
									To: {{sub.card.gift == 0 ? "Me!" : sub.card.recipient}}
								</div>
								<div class="settings_sub-detail">
									From: {{sub.card.gift == 0 ? "Me!" : sub.card.sender}}
								</div>
								<div class="settings_sub-detail">
									Theme: {{sub.card.theme}}
								</div>
								<div class="settings_sub-detail">
									Art-Style: {{sub.card.art}}
								</div>
								<div ng-if="sub.card.note != null" class="settings_sub-detail">
									note: {{sub.card.note}}
								</div>
							</div>
						</div>
						<div ng-click="cancel(sub.id)" class="col-sm-4">
							Cancel
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
