/* fonts */
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
/* colours */
.home__splash {
  background-image: url(../img/background/splash.jpg);
  background-size: cover;
  height: calc(100vh); }

.home__splash-container {
  height: 100%; }

.home__splash-text-container {
  position: relative;
  top: calc(60% - 25px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #FFFAF0;
  font-family: 'EB Garamond', serif; }

.home__splash-text--title {
  font-size: 4rem; }

.home__splash-text--tagline {
  font-size: 3rem;
  max-width: 80em; }

.home__splash-send {
  font-size: 2rem;
  width: 7em;
  margin: auto;
  background-color: #FF7260;
  border-radius: 4em;
  margin-top: 1em;
  cursor: pointer;
  line-height: 2em; }

.home__how {
  background-color: #FFF5C3;
  height: 80em; }
