.material {
  border-radius: 2px;
  background: #FFFAF0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 90rem;
  margin: auto auto 2em; }

.material--width {
  max-width: 90rem;
  margin: auto; }

.material__title {
  text-align: center;
  font-size: 4.3rem;
  padding-bottom: .8rem;
  padding-top: .5em;
  font-family: 'Cookie', cursive; }

.material__input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 2em;
  border: none;
  background-color: #FFFAF0;
  color: #505050;
  border-bottom: 1px solid #CCC;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 100%; }

.material__input.size {
  width: auto;
  display: inline-block;
  text-align: center; }

.material__input.material__input--text-area {
  width: 100%;
  resize: none; }

.material__input:focus,
.material__input:hover {
  border-bottom: 1px solid #ef9e9f;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.material__input-label {
  padding-top: 1em; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.material__input--text-area {
  display: block;
  box-sizing: border-box;
  margin-bottom: 2em;
  border: none;
  background-color: #FFFAF0;
  color: #505050;
  border-bottom: 1px solid #CCC;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.material__input-error {
  height: 3em;
  text-align: center;
  color: #cc0000; }

.material__submit {
  background: #ef9e9f;
  border: none;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center; }

.material--submit {
  padding: 0;
  margin: 0;
  margin-bottom: 4em; }

.material__submit:focus,
.material__submit:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease; }

.material__submit:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease; }

.material__no-padding {
  padding: 0; }

/* when hiding the picture */
/* when showing the picture */
.ng-hide-remove.animate {
  -webkit-animation: 1s fadein ease;
          animation: 1s fadein ease; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */

/* Opera < 12.1 */
