.navbar {
  width: 100%;
  display: table;
  background-color: #FFFAF0;
  height: 5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .navbar ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
    .navbar ul li {
      display: table-cell;
      text-decoration: none;
      padding: 0;
      padding-left: 1em;
      padding-right: 1em;
      float: right; }

.navbar__container {
  height: 5em;
  width: 80%;
  max-width: 80em;
  display: table;
  margin: auto; }

.navbar__brand {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  width: 33%;
  padding-left: 1em; }
